extends index
block footer
append style
	style
		:stylus
			html
				filter:none
			body
				background:none
			.header
				padding:2em 5%;animation:rotateIn 2.0s ease;position:fixed;z-index:10;width:90%
			#ui
				.section
					background-size:100% 100%;
					.movetop
						transform:translateY(-50px)
					.movebottom
						transform:translateY(50px)
			#p1
				background:url(a2.jpg)
				img
					height:70px
			#p2
				background:url(a1.jpg)
			#p3
				background:url(a4.jpg)
			#p4
				background:url(a3.jpg)
block content
	#ui
		#p1.section
			img(src="text1.png")
		#p2.section
			.movetop
				img(src="text2.png")
		#p3.section
			img(src="text3.png")
		#p4.section
			.movebottom
				img(src="text4.png")
	script(src="images.js")