extends nanfeng
block content
	.main
		.header
			.logo
				img(src="logo3.png")
			.nav
				a.link(href="/") 返回首页
		img.i1(src="头像1.png")
		br
		img.i2(src="爱上摄影的机械师.png")
		br
		img.i3(src="矩形7.png")
		br
		img.i4(src="形状7.png")
		.line
		img.i5(src="作品展示.png")
	img(src="DSC_1023副本.jpg")
	img(src="DSC_1029副本.jpg")
	img(src="DSC_1017副本.jpg")
	img(src="DSC_1001副本.jpg")
	img(src="DSC_1028副本.jpg")
	.footer(style="text-align:center;margin:100px")
		img(src="圆角矩形1.png" style="height:3em")