extends nanfeng
block content
	.main
		.header
			.logo
				img(src="logo3.png")
			.nav
				a.link(href="/") 返回首页
		img.i1(src="头像.png")
		br
		img.i2(src="弯树.png")
		br
		img.i3(src="矩形6.png")
		br
		img.i4(src="形状4.png")
		.line
		img.i5(src="作品展示.png")
	img(src="IMG_3596.jpg")
	img(src="IMG_3590.jpg")
	img(src="IMG_3618.jpg")
	img(src="IMG_3637.jpg")
	img(src="IMG_3632.jpg")
	.footer(style="text-align:center;margin:100px")
		img(src="联系QQ.png" style="height:3em")